name: Python Linter
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: '3.9'
            - name: Lint with flake8
              run: |
                pip install flake8
                flake8 .
